html[dir="rtl"] .search-box{
    margin-left: 50px;
    margin-right: auto;
}

html[dir="rtl"] .container-xl,
.container-lg{
    padding-right:20px;
    padding-left:20px;
    margin-right:auto;
    margin-left:auto
}

html[dir="rtl"] .copyright-text img{
    margin-left: 20px
}

html[dir="rtl"] .footer-menu .nav-item:not(:last-child){
    margin-left: 20px;
}

html[dir="rtl"] .copyright-text{
    float: right;
}

html[dir="rtl"] .course-carousel-area .container-lg .row {
    float: right;
}

html[dir="rtl"] .filter-box .btn:not(.all-btn) {
    margin-left: 0px;
    margin-right: 10px;
}

.rtl-class {
    direction: rtl;
}
